## Data organisation
In this tutorial we will look at loading data using Python packages

#### Reading and writing data in text format

Pandas is a good package to read and write tabular data as a DataFrame object.

read_csv: Load delimited data from a file, URL, or file-like object; use comma as default delimiter

read_fwf: Read data in fixed-width column format (i.e., no delimiters)

read_clipboard: Variation of read_csv that reads data from the clipboard; useful for converting tables from web
pages

read_excel: Read tabular data from an Excel XLS or XLSX file

read_hdf: Read HDF5 files written by pandas

read_html: Read all tables found in the given HTML document

read_json: Read data from a JSON (JavaScript Object Notation) string 
representation, file, URL, or file-like object

read_feather: Read the Feather binary file format

read_orc: Read the Apache ORC binary file format

read_parquet: Read the Apache Parquet binary file format

read_pickle: Read an object stored by pandas using the Python pickle format

read_sas: Read a SAS dataset stored in one of the SAS systemâ€™s custom storage formats

read_spss: Read a data file created by SPSS

read_sql: Read the results of a SQL query (using SQLAlchemy)

read_sql_table: Read a whole SQL table (using SQLAlchemy); equivalent to using a query that selects everything in
that table using read_sql

read_stata: Read a dataset from Stata file format

read_xml: Read a table of data from an XML file

There are optional arguments for these functions, which may fall into the following categories:

Indexing:
Can treat one or more columns as the returned DataFrame, and whether to get column names from the file, arguments you provide, or not at all.

Type inference and data conversion:
Includes the user-defined value conversions and custom list of missing value markers.

Date and time parsing:
Includes a combining capability, including combining date and time information spread over multiple columns into a single column in the result.

Iterating:
Support for iterating over chunks of very large files.

Unclean data issues:
Includes skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

Some functions may have a lot of arguments. Pandas documentation has many examples showing how each of them could be used.

In [1]:
import pandas as pd

In [2]:
## the first example: read a comma-delimeted csv file

df = pd.read_csv("ex1.csv")
df

   c1  c2  c3  c4 message
0   1   2   3   4   hello
1   5   6   7   8   world
2   9  10  11  12      hi

In [3]:
## pandas.read_csv treat the first row as the header row.
df = pd.read_csv("ex2.csv")
df

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12     hi

In [4]:
## this example shows a default header row
df = pd.read_csv("ex2.csv", header = None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12     hi

In [5]:
## the header can be assigned explicitly
df = pd.read_csv("ex2.csv", names=["a", "b", "c", "d", "message"])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12      hi

In [6]:
## The following examples shows that "message" is used as the index of the returned dataframe.
names = ["a", "b", "c", "d", "message"]
df = pd.read_csv("ex2.csv", names=names, index_col="message")
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
hi       9  10  11  12

In [7]:
## If the data has a hierarchical index from multiple columns, 
## this can be parsed by the following method
parsed = pd.read_csv("ex3_multiple_index.csv",index_col=["key1","key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [8]:
## Sometime a table might not have a fixed delimiter. There might
## be whitespace or some of other patterns to separte fields.
## A regular expression can be used " sep="\s+" ".
## In this example, there was one fewer column name than the number of 
## data rows, pandas.read_csv infers that the first column should be the 
## index in this special case.
df = pd.read_csv("ex4.txt", sep="\s+")
df

<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_5070/807874723.py:7: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv("ex4.txt", sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [9]:
## In this example, some rows can be skipped as they are comments
## in the file
df = pd.read_csv("ex5.txt", skiprows=[0, 2, 3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Reading text files in pieces
When the data file is large, it is convenient to read only a small portion of the data in some scenario, or iteratively read a small chunck of the file

In [10]:
## Before working on a large file, the following code is to make 
## the pandas display settings more compact
pd.options.display.max_rows = 10

In [11]:
## So only ten rows are displayed, and others are omitted
result = pd.read_csv("insurance.csv")
result

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [12]:
## If only a small number of rows are read, the following code
## shows how to read only 5 rows
pd.read_csv("insurance.csv", nrows=5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [13]:
## To read a file in pieces, specify a chunksize as a number of rows:
chunker = pd.read_csv("insurance.csv",chunksize=10)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [14]:
## The `TextFileReader` object returned by Pandas allows one to 
## iterate over the parts of the file according to the chunksize.
## In the following example, it shows how to iterate over 
## the insurance.csv file for aggregating the value counts in the 
## "sex" column
chunker = pd.read_csv("insurance.csv",chunksize=100)
total = pd.Series([], dtype='int64')
for piece in chunker:
    #print(piece["sex"].value_counts())
    total = total.add(piece["sex"].value_counts(),fill_value=0)
    #print(total)

total = total.sort_values(ascending=True)

total

sex
female    662.0
male      676.0
dtype: float64

### Writing data to text format

Data can be exported to text files with a specified delimited format. Let's use the following file to demonstrate how to write files to CSV

In [15]:
data = pd.read_csv("ex4.txt")
data

                               A B C
0  aaa -0.264438 -1.026059 -0.619500
1    bbb 0.927272 0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3   ddd -0.871858 -0.348382 1.100491

In [16]:
# DataFrame's to_csv method can write the data to a comma-separated file.
data.to_csv("ex4_comma.txt",sep="|")

## JSON data
JSON (JavaScript Object Notation) is a standard format for sending data by HTTP request between web browsers and other applications. Compring to txt files, JSON is much more freedom for representing the data.

In [17]:
# The following is an example of JSON data

json_data = """

{"widget": {
    "debug": "on",
    "window": {
        "title": "Sample Konfabulator Widget",
        "name": "main_window",
        "width": 500,
        "height": 500
    },
    "image": { 
        "src": "Images/Sun.png",
        "name": "sun1",
        "hOffset": 250,
        "vOffset": 250,
        "alignment": "center"
    },
    "text": {
        "data": "Click Here",
        "size": 36,
        "style": "bold",
        "name": "text1",
        "hOffset": 250,
        "vOffset": 100,
        "alignment": "center",
        "onMouseUp": "sun1.opacity = (sun1.opacity / 100) * 90;"
    }
}}    
"""

In [18]:
import json

In [19]:
# the object json_data is a string that contains JSON data.
# To convert it into a Python object, we can use the json.loads() method.
result = json.loads(json_data)
result

{'widget': {'debug': 'on',
  'window': {'title': 'Sample Konfabulator Widget',
   'name': 'main_window',
   'width': 500,
   'height': 500},
  'image': {'src': 'Images/Sun.png',
   'name': 'sun1',
   'hOffset': 250,
   'vOffset': 250,
   'alignment': 'center'},
  'text': {'data': 'Click Here',
   'size': 36,
   'style': 'bold',
   'name': 'text1',
   'hOffset': 250,
   'vOffset': 100,
   'alignment': 'center',
   'onMouseUp': 'sun1.opacity = (sun1.opacity / 100) * 90;'}}}

In [20]:
# json.dumps() can be used to convert a Python object into a JSON string.
json_string = json.dumps(result, indent=4)
print(json_string)

{
    "widget": {
        "debug": "on",
        "window": {
            "title": "Sample Konfabulator Widget",
            "name": "main_window",
            "width": 500,
            "height": 500
        },
        "image": {
            "src": "Images/Sun.png",
            "name": "sun1",
            "hOffset": 250,
            "vOffset": 250,
            "alignment": "center"
        },
        "text": {
            "data": "Click Here",
            "size": 36,
            "style": "bold",
            "name": "text1",
            "hOffset": 250,
            "vOffset": 100,
            "alignment": "center",
            "onMouseUp": "sun1.opacity = (sun1.opacity / 100) * 90;"
        }
    }
}

In [21]:
# We can also write the JSON data to a file
with open("widget.json", "w") as f:
    json.dump(result, f, indent=4)

In [22]:
# We can also read the JSON data from a file
with open("widget.json", "r") as f:
    result = json.load(f)
    print(result)

{'widget': {'debug': 'on', 'window': {'title': 'Sample Konfabulator Widget', 'name': 'main_window', 'width': 500, 'height': 500}, 'image': {'src': 'Images/Sun.png', 'name': 'sun1', 'hOffset': 250, 'vOffset': 250, 'alignment': 'center'}, 'text': {'data': 'Click Here', 'size': 36, 'style': 'bold', 'name': 'text1', 'hOffset': 250, 'vOffset': 100, 'alignment': 'center', 'onMouseUp': 'sun1.opacity = (sun1.opacity / 100) * 90;'}}}

## HTML Web Scraping
Python has many libraries for reading and writing data in XML and HTML format. These libraries include lxml, Beautiful Soup, and html5lib.

Pandas also has a built-in function, pandas.read_html, which uses all of these mentioned libraries to automatically parse tables from HTML files as DataFrame objcts.

The following example demonstrate how to use Pandas to read tables from a website

The following code is to find the tables given a website link

In [24]:
import pandas as pd
data_tables = pd.read_html('https://en.wikipedia.org/wiki/Demographics_of_the_United_Kingdom')
print(len(data_tables))

54

In [26]:
data_tables[0]  # Display the first table
#data_tables[1]  # Display the second table

,Demographics of the United Kingdom,Demographics of the United Kingdom.1
0,Population pyramid in 2021,Population pyramid in 2021
1,Population,"67,596,281 (2022)[1]"
2,Density,279/km2 (720/sqÂ mi) (2022)[1]
3,Growth rate,0.85% (2022)[2]
4,Birth rate,"10.3/1,000 population (2021)[3]"
...,...,...
23,Major ethnic,White (83.05%)[a][6][7][8] British or Irish (7...
24,Minor ethnic,Asian (8.60%) Indian (2.88%) Pakistani (2.48%)...
25,Language,Language
26,Official,English
27,Spoken,ScotsÂ Â· IrishÂ Â· Scottish GaelicÂ Â· WelshÂ Â· Corn...

In [31]:
# We can find the the specific table from the webpage, by providing the table name
pop_table = pd.read_html('https://en.wikipedia.org/wiki/Demographics_of_the_United_Kingdom', match='Population distribution across the UK')
len(pop_table)  # Check how many tables were found
pop_table[0]  # Display the table with population data

  Constituent country Population (mid-2020)                      Area          \
  Constituent country           Numbers[34] % of UK   (km2 (mi2))[35] % of UK
0             England              56550138   84.3%  130,309 (50,313)   53.7%
1            Scotland               5466000    8.2%   77,911 (30,082)   32.1%
2               Wales               3169586    4.7%    20,736 (8,006)    8.5%
3    Northern Ireland               1895510    2.8%    13,793 (5,326)    5.7%
4      United Kingdom              67081234    100%  242,749 (93,726)    100%

  Population density (per km2 (per mi2))
  Population density (per km2 (per mi2))
0                            434 (1,124)
1                               70 (181)
2                              153 (396)
3                              137 (355)
4                              274 (710)

## Using HDF5 format
HDF5 is a respected file format for storing large quantities of scientific array data. It is available as a C library, and it has interfaces available in many other languages, such as Java, Julia, Matlab, and Python. The "HDF" stands for hierarchical data format. Each HDF5 file can store multiple datasets and supporing metadata. Compared with simpler formats, HDF5 supports on-the-fly compression
with a variety of compression modes, enabling data with repeated patterns to be stored more efficiently. HDF5 can be a good choice for working with datasets that donâ€™t fit into memory, as you can efficiently read and write small sections of much larger arrays.

To get started with HDF5 and pandas, you must first install PyTables by installing the tables package with conda:

`conda install pytables`

If using pip, it should be `pip install tables`, as PyTables package is called `tables` in PyPI

While itâ€™s possible to directly access HDF5 files using either the `PyTables` or `h5py` libraries, `pandas` provides a high-level interface that simplifies storing Series and DataFrame objects. The HDFStore class works like a dictionary and handles the
low-level details:

In [ ]:
store = pd.HDFStore('mydata.h5')
store['population'] = pop_table[0]  # Save the DataFrame to the HDF5 file
print(store)
store.close()  # Don't forget to close the store when done

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [ ]:
# load the data back from the HDF5 file
store = pd.HDFStore('mydata.h5')
print(store['population'])  # Display the stored DataFrame
store.close()  # Close the store when done

  Constituent country Population (mid-2020)                      Area          \
  Constituent country           Numbers[34] % of UK   (km2 (mi2))[35] % of UK
0             England              56550138   84.3%  130,309 (50,313)   53.7%
1            Scotland               5466000    8.2%   77,911 (30,082)   32.1%
2               Wales               3169586    4.7%    20,736 (8,006)    8.5%
3    Northern Ireland               1895510    2.8%    13,793 (5,326)    5.7%
4      United Kingdom              67081234    100%  242,749 (93,726)    100%

  Population density (per km2 (per mi2))
  Population density (per km2 (per mi2))
0                            434 (1,124)
1                               70 (181)
2                              153 (396)
3                              137 (355)
4                              274 (710)

In [37]:
# Pandas can also read and write HDF5 files directly.
pop_table[0].to_hdf('population_data.h5', key='population', mode='w')
loaded_data = pd.read_hdf('population_data.h5', key='population')
print(loaded_data)  # Display the loaded DataFrame

  Constituent country Population (mid-2020)                      Area          \
  Constituent country           Numbers[34] % of UK   (km2 (mi2))[35] % of UK
0             England              56550138   84.3%  130,309 (50,313)   53.7%
1            Scotland               5466000    8.2%   77,911 (30,082)   32.1%
2               Wales               3169586    4.7%    20,736 (8,006)    8.5%
3    Northern Ireland               1895510    2.8%    13,793 (5,326)    5.7%
4      United Kingdom              67081234    100%  242,749 (93,726)    100%

  Population density (per km2 (per mi2))
  Population density (per km2 (per mi2))
0                            434 (1,124)
1                               70 (181)
2                              153 (396)
3                              137 (355)
4                              274 (710)

## Interacting with Web APIs

`Python Requests` is a powerful tool to send HTTP requests and interact with web resources.

The package can send `GET, POST, PUT, DELETE, PATCH, HEAS` requests to web servers, handle responses, and work with REST APIs and web scraping tasks.

-- GET: retrieve data from a server

-- POST: send data to a server

-- PUT: update existing data on a server

-- DELETE: remove data from a server

Prior to using `requests`, it must be installed with `pip` or `conda`:
`conda install requests`

In [38]:
import requests

In [47]:
# Making a GET request to a URL
response = requests.get('https://api.github.com/')
print(response.raise_for_status())  # Raise an error for bad responses
# Check if the request was successful
if response.status_code == 200:
    print("Request was successful!")
    print(response.text[:1000])  # Print the first 500 characters of the response content
else:
    print(f"Request failed with status code: {response.status_code}")
    print("Response content:", response.content)

None
Request was successful!
{"current_user_url":"https://api.github.com/user","current_user_authorizations_html_url":"https://github.com/settings/connections/applications{/client_id}","authorizations_url":"https://api.github.com/authorizations","code_search_url":"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://api.github.com/user/emails","emojis_url":"https://api.github.com/emojis","events_url":"https://api.github.com/events","feeds_url":"https://api.github.com/feeds","followers_url":"https://api.github.com/user/followers","following_url":"https://api.github.com/user/following{/target}","gists_url":"https://api.github.com/gists{/gist_id}","hub_url":"https://api.github.com/hub","issue_search_url":"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://api.github.com/issues","keys_url":"https://api.github.com/user/keys","label_searc

The response objectâ€™s json method will return a Python object containing the parsed
JSON data as a dictionary or list (depending on what JSON is returned)

In [48]:
try:
	response_data = response.json()  # Convert the response to JSON
	print(response_data)  # Display the JSON data
except ValueError as e:
	print("Response does not contain valid JSON.")
	print("Response text:", response.text[:500])  # Show first 500 chars for debugging
	print("Error:", e)

{'current_user_url': 'https://api.github.com/user', 'current_user_authorizations_html_url': 'https://github.com/settings/connections/applications{/client_id}', 'authorizations_url': 'https://api.github.com/authorizations', 'code_search_url': 'https://api.github.com/search/code?q={query}{&page,per_page,sort,order}', 'commit_search_url': 'https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}', 'emails_url': 'https://api.github.com/user/emails', 'emojis_url': 'https://api.github.com/emojis', 'events_url': 'https://api.github.com/events', 'feeds_url': 'https://api.github.com/feeds', 'followers_url': 'https://api.github.com/user/followers', 'following_url': 'https://api.github.com/user/following{/target}', 'gists_url': 'https://api.github.com/gists{/gist_id}', 'hub_url': 'https://api.github.com/hub', 'issue_search_url': 'https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}', 'issues_url': 'https://api.github.com/issues', 'keys_url': 'https://api.github.com/user/keys', 'label_search_url': 'https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}', 'notifications_url': 'https://api.github.com/notifications', 'organization_url': 'https://api.github.com/orgs/{org}', 'organization_repositories_url': 'https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}', 'organization_teams_url': 'https://api.github.com/orgs/{org}/teams', 'public_gists_url': 'https://api.github.com/gists/public', 'rate_limit_url': 'https://api.github.com/rate_limit', 'repository_url': 'https://api.github.com/repos/{owner}/{repo}', 'repository_search_url': 'https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}', 'current_user_repositories_url': 'https://api.github.com/user/repos{?type,page,per_page,sort}', 'starred_url': 'https://api.github.com/user/starred{/owner}{/repo}', 'starred_gists_url': 'https://api.github.com/gists/starred', 'topic_search_url': 'https://api.github.com/search/topics?q={query}{&page,per_page}', 'user_url': 'https://api.github.com/users/{user}', 'user_organizations_url': 'https://api.github.com/user/orgs', 'user_repositories_url': 'https://api.github.com/users/{user}/repos{?type,page,per_page,sort}', 'user_search_url': 'https://api.github.com/search/users?q={query}{&page,per_page,sort,order}'}